@{
    ViewBag.Title = "Home Page";
}

<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>
        @ViewBag.Greeting from the View
        <p>We are going to have an exciting party.<br /></p>
        @Html.ActionLink("RSVP Now", "RsvpForm")
    </div>
</body>
</html>